body {
  font-family: "Abel";
  font-size: 22px;
  margin: 0;
  padding: 0;
  background-color: #290f05;
  color: #333;
}

h1 {
  text-align: left;
  color: #290f05;
  padding: 1rem;
  margin-bottom: 20px;
}

.espresso {
  color: #6b4f4f;
  margin-top: 2rem;
  text-align: center;
  font-family: Allura;
  font-size: 60px;
}

h2 {
  color: #6b4f4f;
  margin-top: 2rem;
  text-align: center;
}

.custom-address {
  color: #b79d9d;
  text-align: right;
  margin-left: -20px;
  font-size: 15px;
}

#logo {
  margin-left: -40px;
}

#shopname {
  margin-left: -140px;
}

/* Header styles */
header {
  background-color: #290f05;
  padding: 1rem 0;
  box-shadow: 0 0 10px rgba(80, 74, 74, 0.1);
}

#headerimage {
  opacity: 0.8;
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header h2 {
  margin: 0;
  font-size: 1rem;
  color: #999;
}

/* Navigation styles */
.navbar {
  background-color: #290f05;
}

.cards {
  background-color: #f3e7e2;
}

/* Section styles */
section {
  padding: 2rem;
  background-color: #fff;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-text {
  font-size: 18px;
  font-style: italic;
  color: #534d4b;
}

.card-title {
  margin-bottom: 30px;
}

.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.table-responsive {
  margin: 2rem auto;
}

/* Contact styles */
section div {
  text-align: center;
  margin-top: 1rem;
}

section div a {
  color: #6b4f4f;
  text-decoration: none;
}

section div a:hover {
  text-decoration: underline;
}

.map-container {
  text-align: center;
  margin: 2rem 0;
}

.map-container iframe {
  border: 0;
  width: 100%;
  height: 450px;
}

#location {
  background-color: #f3e7e2;
}

.bi {
  padding: 10px;
}

#socials {
  color: #290f05;
}

.main-paragraph {
  background-color: #290f05;
  color: #b79d9d;
  margin-top: 70px;
  margin-bottom: 70px;
}
/* side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.bi-list {
  color: #b79d9d;
  font-size: 40px;
}
.about-us,
#about-location {
  background-color: #f3e7e2;
  opacity: 70%;
}

.float-left {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* Optional: Clearfix to ensure proper clearing of floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hover-opacity {
  transition: opacity 0.3s ease;
}
.hover-opacity:hover {
  opacity: 0.7;
}

a img {
  display: block;
  width: 100%;
  height: auto;
}

/* Menu styles */

.menu-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.menu-item:last-child {
  border-bottom: none;
}

.item-name {
  font-weight: bold;
  color: #999;
}

.item-price {
  float: right;
  color: #999;
}

.menu-section {
  margin-top: 20px;
  margin-bottom: 40px;
}

.menu-section h3 {
  margin-bottom: 20px;
  color: #725f57;
}

#menu-img {
  margin-bottom: 60px;
  border-radius: 30px;
  border: 2px solid rgba(147, 147, 147, 0.3);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

#menu-h1 {
  text-align: left;
  color: #725f57;
  padding: 1rem;
  margin-top: -40px;
}

/* Contact Form styles */

.contact-form {
  background-color: #f3e7e2;
  opacity: 70%;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.form-title {
  text-align: center;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #725f57;
  color: #fff;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #574842;
  color: #fff;
}

input {
  margin-bottom: 5%;
}

/* Footer styles */

.footer-text,
.footer-icon {
  color: #999;
}

footer {
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.footer-column {
  margin-bottom: 15px;
}

.footer-link {
  color: #999;
  text-decoration: none;
}

.footer-link:hover {
  color: #3f3f3f;
}

.footer-address:hover {
  opacity: 0.7;
}
